flask
flask-cloudflared
flask-cors
flask-compress
markdown
Pillow
colorama
webuiapi
--extra-index-url https://download.pytorch.org/whl/rocm5.4.2
torch>=2.0.0+rocm5.4.2,<2.1.0+rocm5.4.2
torchvision>=0.15.0+rocm5.4.2,<0.16.0+rocm5.4.2
torchaudio>=2.0.0+rocm5.4.2,<2.1.0+rocm5.4.2
accelerate
transformers==4.28.1
diffusers==0.16.1
silero-api-server
chromadb
sentence_transformers
edge-tts