flask
flask-cloudflared
flask-cors
markdown
Pillow
colorama
git+https://github.com/SillyLossy/poe-api
--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.0
git+https://github.com/huggingface/transformers
