flask
flask-cloudflared
flask-cors
flask-compress
markdown
Pillow==9.5.0
colorama
webuiapi
transformers
silero-api-server
torch
torchvision
torchaudio
diffusers
accelerate
chromadb
sentence_transformers
edge-tts
matplotlib
fastapi
wxpython
